body {
  font-family: 'Serif';
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-list-container {
  width: 80%;
  margin: 20px auto;
}

.button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #5a6268;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #37415C;
}

.level-section {
  margin-bottom: 40px;
}

.level-section h3 {
  font-size: 1.5em;
  color: #37415C;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.course-card {
  background-color: #F3DADF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-card h4 {
  margin: 0;
  font-weight: bold;
  color: #37415C;
}

.course-card p {
  margin: 10px 0 0;
  color: #37415C;
}
