body {
  font-family: 'Serif';
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.form {
  background-color: #37415C;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
  color: #F3DADF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #F3DADF;
}

.input-field {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #F3DADF;
  color: #37415C;
}

.button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 1em;
  font-weight: bold;
  color: #37415C;
  background-color: #F3DADF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d6b4b9;
}

.course-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.course-card h4 {
  margin: 0;
  font-weight: bold;
}

.course-card p {
  margin: 10px 0 0;
}

.qr-scanner {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.student-table th,
.student-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.student-table th {
  background-color: #6BA3BE;
  color: white;
}

.student-table tr:hover {
  background-color: #f1f1f1;
}

.app {
  position: relative;
}

.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

.course-card.joined {
  background-color: #d4edda;
}
